@font-face {
    font-family: 'Roboto_Regular';
    src: url(./fonts/Roboto-Regular.ttf);
    font-weight: normal;
}
@font-face {
    font-family:"Roboto_black"; ;
    src: url(./fonts/Roboto-Black.ttf);
}

@font-face {
    font-family: "Roboto_Medium";
    src: url(./fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: "Robot_light";
    src: url(./fonts/Roboto-Light.ttf);
}
@font-face {
    font-family: 'Roboto_light_italic';
    src: url(./fonts/Roboto-LightItalic.ttf);
}
