@font-face {
    font-family: 'Roboto_Regular';
    src: url(./fonts/Roboto-Regular.ttf);
    font-weight: normal;
}
@font-face {
    font-family:"Roboto_black"; ;
    src: url(./fonts/Roboto-Black.ttf);
}
@font-face {
    font-family: 'Robot_black_italic';
    src: url(./fonts/Roboto-BlackItalic.ttf);
}
@font-face {
    font-family: 'Roboto_Bold';
    src: url(./fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: 'Roboto_Bold_italic';
    src: url(./fonts/Roboto-BoldItalic.ttf);
}
@font-face {
    font-family: 'Roboto_medium_italic';
    src: url(./fonts/Roboto-MediumItalic.ttf);
}
@font-face {
    font-family: 'Roboto_thin';
    src: url(./fonts/Roboto-Thin.ttf);
}
@font-face {
    font-family: 'Roboto_thin_italic';
    src: url(./fonts/Roboto-ThinItalic.ttf);
}
@font-face {
    font-family: "Roboto_Medium";
    src: url(./fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: "Robot_light";
    src: url(./fonts/Roboto-Light.ttf);
}
@font-face {
    font-family: 'Roboto_light_italic';
    src: url(./fonts/Roboto-LightItalic.ttf);
}

*{
    margin:0px;
    font-family:'Roboto_Regular';
}
.first_container{
    background-color: #1F2937;
    padding-left:70px;
    padding-top: 10px;
   
}

#logo{
    font-size: 24px;
    color:#F9FAF9;
    font-family: 'Roboto_black';
    font-weight: bold;
    
}
#link_header{
    display: flex;
    justify-content: space-between;
}

nav  a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
    justify-content: space-between;
    padding-right: 20px;
}
.mainmenu{
    float: right;
    display: inline;
    padding-right: 40px;
    justify-content: space-between;

}
#row1{
    padding-top: 30px;
}
#row1 span{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
    font-family: 'Roboto_Regular';
    
}
